body {
    font-family: 'Sofia', cursive;
    background-color: #0088ff;
}

.hangman-container {
    margin: auto;
    background: #0088ff;
    width: 900px;
    height: 900px;
    padding: 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hangman-image img {
    width: 80%;
    margin-bottom: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.hangman-info {
    text-align: center;
}

.letter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Sofia', cursive;
}

.letter-buttons button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgba(189, 251, 230, 0.649);
    border: none;
    border-radius: 4px;
}

.hangman-guess {
    text-align: center;
}

.guessed-letter {
    font-size: 35px;
    border-bottom: 3px solid #000;
    margin-right: 5px;
}


.unguessed-letter {
    font-size: 35px;
    border-bottom: 3px solid #000;
    margin-right: 5px;
    color: #fff;
}

.game-won {
    color: rgb(22, 198, 22);
    font-size: 45px;
    padding-bottom: -20px;
}

.game-lost {
    color: rgb(125, 36, 36);
    font-size: 45px;
}

