body {
    font-family: 'Sofia', cursive;
    background-color: #0088ff;
}

.hangman-container {
    margin: 0;
    background: #0088ff;
    width: auto;
    height: auto;
    padding: 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.hangman-image img {
    width: 60%;
    margin: auto;
    display: flex;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.hangman-info {
    text-align: center;
}

.box-letters{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.letter-buttons {
    display: flex;
    justify-content: center;
    font-family: 'Sofia', cursive;
}

.letter-buttons button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgba(189, 251, 230, 0.649);
    border: none;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.hangman-guess {
    text-align: center;
}

.guessed-letter {
    font-size: 35px;
    border-bottom: 3px solid #000;
    margin-right: 5px;
}

.unguessed-letter {
    font-size: 35px;
    border-bottom: 3px solid #000;
    margin-right: 5px;
    color: #fff;
}

.game-won {
    color: rgb(0, 20, 101);
    font-size: 45px;
}

.game-lost {
    color: rgb(125, 36, 36);
    font-size: 45px;
}

